body {
  text-align: center;
  background-color: black;
  font-family:"Verdana", "sans-serif";
  font-style: normal;
}
h1 {
  color: #ef9422;
  font-style: oblique; 
}
h2 {
	color: #ef9422;
}
p {
  color: white;
    font-size: medium;
}
section {
	color: white;
	font-size: small;
	border-style: solid;
	border-color: #ef9422;	
	  margin-left: 20%;
  margin-right: 20%;
}

