
body {
  text-align: center;
  background-color: black;
  font-family:"Verdana", "sans-serif";
  font-style: normal;
}
h1 {
  color: #ef9422;
  font-style: oblique; 
}
h2 {
	color: #ef9422;
}
p {
  color: white;
    font-size: medium;
}
section {
	color: white;
	font-size: small;
	border-style: solid;
	border-color: #ef9422;	
	  margin-left: 35%;
  margin-right: 35%;
} 



.box {
	height: 250px;
	float: left;
	width: 200px;
	box-sizing: border-box;
	color: #ef9422;
	border: 5px solid purple;
	margin: 20px;

}



a:link {
  color: #87CEEB;
  text-decoration: none;
}

a:visited {
  color: #ffff00;
  text-decoration: none;
}

a:hover {
  color: #66ccff;
  text-decoration: underline;
}

a:active {

  text-decoration: none;
} 
