body {
  text-align: center;
  background-color: black;
  font-family:"Verdana", "sans-serif";
  font-style: normal;
  padding-left: 60px;
  padding-right: 60px;
}
h1 {
  color: #ef9422;
  font-style: oblique; 
}
h2 {
	color: #ef9422;
}
p {
  color: white;
    font-size: medium;
}
section {
	color: white;
	font-size: small;
	border-style: solid;
	border-color: #ef9422;	
}

